---
import type { Technology } from '$/content/schemas/technology';
import type { Props as SEOProps } from 'astro-seo';
import authorImage from '$/assets/author.png';
import ogAuthorImage from '$/assets/og-author.jpeg';
import Intro from '$/components/intro.astro';
import TechnologyGrid from '$/components/technology-grid.svelte';
import config from '$/config';
import PageLayout from '$/layouts/page-layout.astro';
import { getImage } from 'astro:assets';
import { getCollection } from 'astro:content';

const { author, siteUrl } = config;

const title = `Hi, I'm ${author.name}`;

const description =
  "I'm a software engineer from Germany who enjoys building modern, reliable systems and making sure things run smoothly. Passionate about exploring new technologies, designing scalable architectures, and turning ideas into impactful solutions.";

const authorImageUrl = (
  await getImage({ src: authorImage, format: 'webp', width: 1024, height: 1024 })
).src;
const ogAuthorImageUrl = (await getImage({ src: ogAuthorImage, format: 'jpeg' })).src;

const seo: SEOProps = {
  title,
  description,
  canonical: `${siteUrl}/`,
  openGraph: {
    basic: {
      title,
      type: 'website',
      url: `${siteUrl}/`,
      image: ogAuthorImageUrl
    },
    optional: {
      description,
      siteName: 'n5n'
    }
  },
  extend: {
    link: [{ rel: 'preload', as: 'image', href: authorImageUrl }]
  }
};

const technologies = (await getCollection('technologies')).reduce(
  (acc, item) => {
    if (!acc[item.data.type]) {
      acc[item.data.type] = [];
    }
    acc[item.data.type].push(item.data);
    return acc;
  },
  {} as { [key in Technology['type']]: Technology[] }
);
---

<PageLayout seo={seo}>
  <Fragment slot="main">
    <div class="rounded-box bg-base-300 p-4">
      <div class="flex flex-col gap-8">
        <Intro />
        <section class="rounded-box bg-neutral/10 p-4">
          <!-- No type suggestions - need fix! -->
          <TechnologyGrid client:load data={technologies} />
        </section>
      </div>
    </div>
  </Fragment>
</PageLayout>
